@import '../../shared/shared';

.main {
  padding-top: toRem(24);

  @media screen and (min-width: $md) {
    padding-top: toRem(36);
  }
  @media screen and (min-width: $two-xl) {
    padding-top: toRem(48);
  }
}

.search-filter {
  @include column-flex();
  gap: toRem(42);

  @media screen and (min-width: $md) {
    flex-direction: row;
    justify-content: space-between;
  }
  @media screen and (min-width: $two-xl) {
  }
}
