@import '../../shared/shared';

.main {
  @include column-flex();
  gap: toRem(32);
  padding-top: toRem(24);
  padding-bottom: toRem(24);

  @media screen and (min-width: $md) {
    gap: toRem(40);
    padding-top: toRem(36);
    padding-bottom: toRem(36);
  }
  @media screen and (min-width: $two-xl) {
    gap: toRem(48);
    padding-top: toRem(48);
    padding-bottom: toRem(48);
  }
}

.search-filter {
  @include column-flex();
  gap: toRem(42);

  @media screen and (min-width: $md) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.country-list__container {
  width: 100%;
}
