@import '../../shared/shared';

.li {
  width: 100%;
  border-radius: toRem(5);
  background: var(--main-element-color);
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
  overflow: hidden;
  cursor: pointer;
}

.img-container {
  background-color: var(--glow-up);
  position: relative;
  aspect-ratio: 264/160;
  height: toRem(160);
  width: 100%;
  overflow: hidden;

  @supports (aspect-ratio: 264/100) {
    height: auto;
  }

  img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
  }
}

.content {
  @include column-flex();
  gap: toRem(16);
  padding: toRem(24) toRem(24) toRem(48);
}

.country-name {
  font-family: var(--font-name);
  font-size: toRem(18);
  font-weight: 800;
  line-height: toRem(26); /* 144.444% */
  color: var(--font-color);
}

.desc-list {
  @include column-flex();
  gap: toRem(8);
  list-style: none;
  font-family: var(--font-name);
  font-size: toRem(14);
  font-weight: 400;
  line-height: toRem(16); /* 114.286% */
  color: var(--font-color);

  span {
    font-weight: 600;
  }
}

.item {
  @include display-flex();
  align-self: flex-start;
}
